altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.7
ci-info==0.2.0
click==8.0.3
colorama==0.4.4
configobj==5.0.6
configparser==5.0.2
etelemetry==0.2.2
filelock==3.3.1
fitz==0.0.1.dev2
future==0.18.2
httplib2==0.20.1
idna==3.3
img2pdf==0.4.2
isodate==0.6.0
lxml==4.6.3
networkx==2.6.3
nibabel==3.2.1
nipype==1.7.0
numpy==1.21.3
packaging==21.0
pandas==1.3.4
pathlib==1.0.1
pdfrw==0.4
pefile==2021.9.3
pikepdf==3.2.0
Pillow==8.4.0
prov==2.0.0
pydot==1.4.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyMuPDF==1.19.0
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.2
pytz==2021.3
pywin32==302
pywin32-ctypes==0.2.0
pyxnat==1.4
rdflib==6.0.2
requests==2.26.0
scipy==1.7.1
simplejson==3.17.5
six==1.16.0
traits==6.3.1
urllib3==1.26.7
